[submodule "ambiental"]
	path = ambiental
	url = https://github.com/petrobrasbr/s12190-ambiental.git
[submodule "descomissionamento"]
	path = descomissionamento
	url = https://github.com/petrobrasbr/s12190-descomissionamento.git
[submodule "integridade"]
	path = integridade
	url = https://github.com/petrobrasbr/s12190-integridade.git
[submodule "limpeza-hub"]
	path = limpeza-hub
	url = https://github.com/petrobrasbr/s12190-limpeza-hub.git
